<h3>About RSTracker</h3>
<p>Recruitment selection tracker known as RStracker is an web page application to tracke HR recruitment information.</p>


<h4>Project Features</h4>
<ul>
    <li> Requisition</li>
    <li> Circular</li>
    <li> Employee Information</li>
    <li> Authentication and Authorization</li>
</ul>
<b>Design and developed by</b>
<p>Khaleda Islam <br />
    Email   : khaleda.islam@leads-bd.com <br />
    Linkdin :https://www.linkedin.com/in/khaledaislam </p>
<b>Powered by</b>
<p>Leadsoft Bangladesh Limited <br />
Add :  Rupayan Trade Center, 114 Kazi Nazrul Islam Ave, Dhaka 1205 <br />
Web :  www.leads-bd.com </p>
